{% extends "base.html"%}

<!--Tämä on kopioitava pohjamalli. ÄLÄ TÄYDENNÄ TÄHÄN-->

<!-- Tähän sivukohtainen profiilin tiedot/kirjautuminen-->
{% block profile_information %}
{% endblock %}

<!-- Filtterin paikka -->
{% block filter %}
{% endblock %}

<!-- Tähän sivukohtainen sisältö (tervetuloteksti, reseptit jne.)-->
<!-- Muista käyttää tarvittaessa vasen oikein jaottelua -->
{% block content%}
{% endblock %}

<!-- Sivun oikean puolen fiidi/rekisteröityminen -->
{% block feed %}
{% endblock %}
