.sivunasettelu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    grid-row: span 1;
    background-color: #026670;
    color: #9FEDD7;
    padding-bottom: 5px;

}

.content {
    grid-column: span 9;
     grid-row: span 10;
    background-color: #EDEAE5;
}

.content_navbar{
  width: 100%;
  height: 50px;
  color: #026670;
  background-color: #9FEDD7;
  padding-right: 14px;
}

.content_profile{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #EDEAE5;
  display: flex;

}

.content_card{
  width: 98%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
  padding: 10px;
  display: flex;
}
.content_filter{
  width: 90%;
  height: 25px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid black;
    margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.solid_black{
  border: 1px, solid, black;
}

.left{
  color: blue;

}

.right{
  color: black;
  margin: 10px 30px 0px 10px;
}
.info_pic{

}
.info_text{

}
.card_pic{

}

.card_text{

}


.info {
    grid-column: span 3;
    grid-row: span 10;
    background-color: #FEF9C7;
    color: #026670;

}

.footer {
    grid-column: span 12;
    grid-row: span 1;
    background-color: #FCE181;
    color: #026670;
    left: 0;
    width: 100%;
    text-align: center;

}

.profpic{
  border-radius: 50%;
  margin-left: 5px;
}


#d_green{
  color: #026670;
}
