{% extends "base.html"%}


<!-- Tähän sivukohtainen profiilin tiedot/kirjautuminen-->
{% block profile_information %}
{% endblock %}

<!-- Filtterin paikka -->
{% block filter %}
{% endblock %}

<!-- Tähän sivukohtainen sisältö (tervetuloteksti, reseptit jne.)-->
<!-- Muista käyttää tarvittaessa vasen oikein jaottelua -->
{% block content%}
<h2>Kirjaudu</h2>

<form method="post">
  {% csrf_token %}
  {% for field in login_form %}
    <p>
      {{ field.label_tag }}
      {{ field }}

      {% if field.help_text %}
        <small>{{field.help_text}}</small>
      {% endif %}
    </p>
  {% endfor%}


    {% for field in login_form%}
      {% for error in field.errors %}
      <p>{{error}}</p>
      {% endfor %}
    {% endfor %}

    {% if login_form.non_field_errors %}
    <div style="color:red;">
      <p>{{login_form.non_field_errors}}</p>
    </div>
    {% endif %}
  <button type="submit" name="button">Kirjaudu</button>
</form>


{% endblock %}

<!-- Sivun oikean puolen fiidi/rekisteröityminen -->
{% block feed %}
{% endblock %}
